.navbarContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  height: 50px;
  background-color: #eee;
}

.navbarContainer h3 {
  padding-left: 20px;
  text-decoration: none;
}

.navbarContainer a {
  text-decoration: none;
}

.navbarItems {
  /* border: 1px solid red; */
  list-style-type: none;
  display: flex;
  width: 500px;

  justify-content: flex-end;
}

.navbarItems li {
  margin-left: 6%;
}

.navbarItems li :hover {
  font-weight: bold;
  text-decoration: none;
}

.navbarItems a {
  text-decoration: none;
}
