.navbarContainer {
<<<<<<< HEAD
=======
  /* border: 2px solid red; */
>>>>>>> 263ef3a0f345fefc4b68d9dad6493b342b326fca
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  height: 50px;
  background-color: #eee;
}

.navbarContainer h3 {
  padding-left: 20px;
<<<<<<< HEAD
  text-decoration: none;
}

.navbarContainer a {
  text-decoration: none;
=======
>>>>>>> 263ef3a0f345fefc4b68d9dad6493b342b326fca
}

.navbarItems {
  /* border: 1px solid blue; */
  list-style-type: none;
  display: flex;
  max-width: 500px;
<<<<<<< HEAD
  min-width: 250px;
  padding: 0 20px 0 20px;
  justify-content: space-around;
}

.navbarItems li :hover {
  font-weight: bold;
  text-decoration: none;
}

.navbarItems a {
  text-decoration: none;
=======
  min-width: 300px;
  padding: 0 20px 0 20px;
  justify-content: space-between;
>>>>>>> 263ef3a0f345fefc4b68d9dad6493b342b326fca
}
