.viewHook pre {
  /* align-self: center; */
  background: #eee;
  padding: 1rem;
  overflow: auto;
  border-radius: 3px;
  /* max-width: 90ch; */
  min-width: 40ch;

  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
}
